{% extends "base.html" %}

{% block content %}
<div class="mx-auto w-[600px] flex gap-3 flex-col">
	<h1 class="text-center text-2xl ">Личный кабинет</h1>
	<div class="w-[600px] flex gap-3 flex-col bg-gray-300 rounded mx-auto p-3">
			
		
		<div class="text-xl">Имя: {{user.username}}</div>
		<div class="text-xl">Электроная почта: {{user.email}}</div>
		<div class="text-xl">Пол: {{user.profile.gender|yesno:'Неизвестный'}}</div>
		<div class="text-xl">Страна: {{user.profile.country|default:'Неизвестный'}}</div>
		<div class="text-xl">Город: {{user.profile.city|default:'Неизвестный'}}</div>
		<div class="text-xl">Улица: {{user.profile.street|default:'Неизвестный'}}</div>
		<div class="text-xl">Дом: {{user.profile.house|default:'Неизвестный'}}</div>
		<div class="text-xl">Номер квартиры: {{user.profile.apartament_number|default:'Неизвестный'}}</div>
		<a href="{% url "setting_profile"%}" class="text-xl rounded bg-gray-600 text-white p-2 flex-end text-center">Редактировать</a>
	</div>
</div>
{% endblock content %}