{% extends "base.html" %}

{% block content %}
<div class='container mx-auto'>
<h1 class="text-center text-xl font-bold">О нас</h1>
<p class="text-center">Прежде всего, постоянный количественный рост и сфера нашей активности позволяет выполнить важные задания по разработке прогресса профессионального сообщества. Сложно сказать, почему реплицированные с зарубежных источников, современные исследования призваны к ответу. Есть над чем задуматься: интерактивные прототипы будут подвергнуты целой серии независимых исследований.</p>
</div>
{% endblock content %}